{{#if this.isVisible}}
  <div
    {{css-transition "example" enter=true leave=true}}
    class="container"
  >
    <h2>Foo transition!</h2>
  </div>
{{/if}}

<button {{on "click" this.onClick}}>
  {{if this.isVisible "Hide" "Show"}} me
</button>
