section {
  display: block;
  width: 100%;
}

.tomster {
  display: inline-block;
  width: 100px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}
.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

.move-up-enter {
  transform: translateY(-10px);
}

.move-up-enter.move-up-enter-active {
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.move-up-leave {
  transform: translateY(0px);
}

.move-up.fade-leave-active {
  transform: translateY(-10px);
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}
